.formWrapper {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.formFields {
    display: flex;
    flex-direction: column;
}


.formFields > input {
    height: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
}

.formFields > select {
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
}